{% extends 'base.html' %}

{% block titulo %}WhereU{% endblock %}

{% block style_css %}{% endblock %}

{% block navegacion %}
<nav>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/ingresar">Login</a></li>
		<li><a href="/quees">¿Qué es?</a></li>
		<li><a href="/conocenos">Conócenos</a></li>
	</ul>
	<span class="arrow"></span>
</nav>
{% endblock %}

{% block lateralIzqierdo %}
<!-- Start Logo -->
<a href="#home" class="logo">
	<img src='{{STATIC_URL}}img/WhereUlogo.png' width="100" height="150" />
</a>
<!-- End Logo -->

<span class="tagline">Dime con quién te juntas...<br /> y te diré donde están.</span>
<p>
	WhereU? es una aplicación web que te permitirá estar al tanto de todos los eventos así como de las novedades en las que participes con tus amigos, permitiendo compartir las ubicaciones de cada uno de los participantes así como comentarios, fotos, etc.
</p>

	<div class="buttons">
	<!--
		<a href="http://itunes.apple.com/es/app/vi-smart/id550242916?mt=8" class="large_button" id="apple" target="_blank">
			<span class="icon"></span>
			<em>Disponible per</em> iPhone
		</a>
	-->
		<a href="/registro" class="large_button" id="android">
			<center><em>Botón de registro</em> Únete</center>
		</a>
	</div>
			
	<div class="price right_align"> <!-- Alignments options: right_align, left_align, centered -->
		<p>Prueba la única aplicación para administrar tus quedadas.</p>
	</div>

{% endblock %}	
    
{% block contenido %}
<br /><br /><br /><br />
<center>
			
	<img src='{{STATIC_URL}}img/nexus.png' width="460" height="340" />
			
</center>
{% endblock %}	

{% block piePagina %}{% endblock %}
