{% extends 'base.html' %}

{% block titulo %}WhereU{% endblock %}

{% block style_css %}{% endblock %}

{% block script %}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyDUdzIVip2A3MGym1gWg497I9qI53xqx18"></script>

<script>  
var latlng

function success(position) {  
	 var status = document.querySelector('#status');  
	 status.innerHTML = "¡Le encontramos!";  
	  
	 var mapcanvas = document.createElement('div');  
	 mapcanvas.id = 'mapcanvas';  
	 mapcanvas.style.height = '100px';  
	 mapcanvas.style.width = '250px';  
	  
	 document.querySelector('#map').appendChild(mapcanvas);  
	  
	 latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);  
	 var myOptions = {  
		 zoom: 15,  
		 center: latlng,   
		 mapTypeId: google.maps.MapTypeId.ROADMAP  
	 };  
	 var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);  
	  
	 marca = new google.maps.Marker({
	    position: latlng,
	    map: map,
	    icon: "{{STATIC_URL}}img/personal.png", 
	    title: 'Usted está aquí.'	
	});
	 
	 document.form_mapa.latitud.value = position.coords.latitude;
	 document.form_mapa.longitud.value = position.coords.longitude;
}  


function error(msg) {  
 var status = document.getElementById('status');  
 status.innerHTML= "Error [" + error.code + "]: " + error.message;   
}  
  
if (navigator.geolocation) {  
 navigator.geolocation.getCurrentPosition(success, error,{maximumAge:60000, timeout: 4000}); 
} else {  
 error('Su navegador no tiene soporte para su geolocalización');  
}  
  
</script> 


{% endblock %}

{% block navegacion %}
<nav>
	<ul>
		<li><a href="/"><b>Mis eventos</b></a></li>
		<li><a href="/gente"><b>Gente</b></a></li>
		<li><a href="/ruta/nueva/">Crear evento</a></li>
		<li><a href="/cerrar">Salir</a></li>
		<li><a href="/">{{usuario.username|upper}}</a></li>
	</ul>
	<span class="arrow"></span>
</nav>
{% endblock %}

{% block lateralIzqierdo %}
<!-- Start Logo -->
{% if personal.foto == "default" %}
    	<img src='{{STATIC_URL}}img/huevo.jpg' width="60" height="60" style="-webkit-border-radius:  5px; -moz-border-radius: 5px; border-radius: 5px;" />
    {% else %}
    	<img src="{{MEDIA_URL}}{{personal.foto}}" width="230" height="160" style="-webkit-border-radius:  5px; -moz-border-radius: 5px; border-radius: 5px;" />
    {% endif %}


<!-- End Logo -->
<br /><br />
{% if usuario.first_name != "" %}
	<span class="tagline">
		{{usuario.first_name}} {{usuario.last_name}}<br />
		{{usuario.email}}<br />
		{{personal.profesion}}
	</span>
{% endif %}
<div align="right">
<!--
	<a href="http://itunes.apple.com/es/app/vi-smart/id550242916?mt=8" class="large_button" id="apple" target="_blank">
		<span class="icon"></span>
		<em>Disponible per</em> iPhone
	</a>
-->
	<p id="status">Buscando su localización...</p>  
	<div id="map"></div>
	<br />
	<form name="form_mapa" action="/localizar" method="post" >{% csrf_token %}
		<input type="hidden" name="latitud" value="" />
		<input type="hidden" name="longitud" value="" />
		<br /><br />
		<button type="submit" class="large_button" id="android">Guardar localización</button>
	</form>
<!--
	<a href="#" class="large_button" id="android">
		<span class="icon"></span>
		<em>Botón de Localización</em> Localízate
	</a>
-->
</div>
			
<div class="price right_align" > <!-- Alignments options: right_align, left_align, centered -->
	<p>Actualiza tu ubicación para que puedan verte.</p>
</div>
{% endblock %}	



{% block contenido %}
<h1>Modificar Perfil</h1>

<center>
	<div id="contact_form">
		<form name="form_mapa" id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
			<table>
				<tr>
				    <td><p>Foto perfil:</p></td>
				    <td style="margin-left: 20px">{{ formulario.foto}}</td>
				</tr>
				<tr>
				    <td><p>Nombre:</p></td>
				    <td style="margin-left: 20px">{{ formulario2.first_name }}</td>
				</tr>
				<tr>
				    <td><p>Apellidos:</p></td>
				    <td style="margin-left: 20px">{{ formulario2.last_name }}</td>
				</tr>
				<tr>
				    <td><p>Correo:</p></td>
				    <td style="margin-left: 20px">{{ formulario2.email }}</td>
				</tr>
				<tr>
				    <td><p>Sexo:</p></td>
				    <td style="margin-left: 20px">{{ formulario.sexo }}</td>
				</tr>
				<tr>
				    <td><p>Teléfono:</p></td>
				    <td style="margin-left: 20px">{{ formulario.telefono}}</td>
				</tr>
				<tr>
				    <td><p>Fecha de nacimiento:</p></td>
				    <td style="margin-left: 20px">{{ formulario.nacimiento}}</td>
				</tr>
				<tr>
				    <td><p>Profesión:</p></td>
				    <td style="margin-left: 20px">{{ formulario.profesion}}</td>
				</tr>
				<tr>
				    <td></td>
				    <td><input type="submit" class="button white" value="Guardar cambios" /></td>
				</tr>
			</table>
			<br />
			
		</form>
	</div>
</center>
{% endblock %}
			

{% block piePagina %}{% endblock %}
